/* Menu.css */
.menu-container {
  display: flex;
  justify-content: center;
  margin: 15px;
  gap: 15px;
  max-width: 1440px;
}

.menu {
  display: flex;
  width: 100%;
}

.menu-button {
  font-size: 3rem;
  font-weight: 100;
  border-radius: 100px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-decoration: none;
  transition: all ease-in-out 350ms;
  margin: 0 5px;
  text-align: center;
  box-sizing: border-box;
  padding: 5px 30px;
  flex: 1 auto;
  font-weight: 400;
  font-variation-settings: 'wdth' 50;
}

.menu-button:hover {
  font-variation-settings: 'wdth' 150;
}