---
import Banner from '../components/Banner'
import FontTester from '../components/FontTester'
import Menu from '../components/Menu'
import Socials from '../components/Socials'
import Copyright from '../components/Copyright'
---

<div>
  <Banner />
  <FontTester />
  <Menu />
  <Socials />
  <Copyright />
</div>