---
import Banner from '../components/Banner/Banner'
import FontTester from '../components/FontTester/FontTester'
import Menu from '../components/Menu/Menu'
import Socials from '../components/Socials/Socials'
import Copyright from '../components/Copyright/Copyright'
---

<div>
  <Menu />
  <Banner />
  <FontTester />
  <Socials />
  <Copyright />
</div>